 server {
        listen 8000;
        server_name FQDN;
		proxy_read_timeout 300s;
        location / {
proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://SERVER.engines.internal:PORT;
        }
    }

