 server {
        listen 8000;
        server_name FQDN;
		proxy_read_timeout 300s;
		    access_log /var/log/nginx/FQDN/http/access.log;
        error_log /var/log/nginx/FQDN/http/error.log;
        location / {        
		FOLDER
		
	proxy_pass http://SERVER.engines.internal:PORT/;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";  
    proxy_set_header X-Real-IP $remote_addr;    
    proxy_set_header Host $host;
   proxy_set_header X-Forwarded-For $remote_addr;
    
        }
    }

