 server {
        listen 8000;
        server_name FQDN;
		proxy_read_timeout 300s;
        location / {
proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://SERVER.engines.internal:PORT;
        }
    }

server {
        listen 4430;
    server_name FQDN;
    proxy_read_timeout 300s;
    ssl on;
    ssl_session_cache    shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_certificate /etc/nginx/ssl/certs/CERTNAME.crt;
    ssl_certificate_key /etc/nginx/ssl/keys/CERTNAME.key;
    proxy_ssl_session_reuse off;
    ssl_verify_client off;
    ssl_protocols        SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

        location / {
proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://SERVER.engines.internal:PORT;
        }
    }

