  protocol=PROVIDER, \
  use=web, web=checkip.dyndns.com/, web-skip='IP Address'  
  backupmx=no 
  custom=yes
  server=members.dyndns.org
  wildcard=yes 
  login=LOGIN
  password=PASSWORD  
  DOMAIN
