[core]
				        repositoryformatversion = 0
				        filemode = true
				        bare = false
				        logallrefupdates = true
				[branch "$release"]
				[remote "origin"]
				        url = https://github.com/lachdoug/system_gui_v0_2.git
				        fetch = +refs/heads/*:refs/remotes/origin/*
				[branch "$release"]
				        remote = origin
				        merge = refs/heads/$release
				