option domain-name "DOMAIN_NAME";
option domain-name-servers ENGINES_IP, OPTIONAL_DNS;

default-lease-time DEFAULT_LEASE; #6000
max-lease-time MAX_LEASE; #14800

shared-network "dnet" {
subnet SUBNET netmask NETMASK {
  range RANGE_MIN RANGE_MAX;
  option routers GATEWAY;
  }
subnet 172.0.0.0 netmask 255.0.0.0 { }
}

#blank for consumers
#host passacaglia {
#  hardware ethernet 0:0:c0:5d:bd:95;
#  filename "vmunix.passacaglia";
#  server-name "toccata.fugue.com";
#}