# ipsec.conf - strongSwan IPsec configuration file
#Default 

config setup
        # strictcrlpolicy=yes
        # uniqueids = no
#uniqueids=no
#       charondebug="cfg 2, dmn 2, ike 2, net 0"

conn %default
        keyexchange=ikev2
        dpdaction=restart
        dpddelay=30s
        fragmentation=yes
        left=%any  
        leftcert=ivpn.crt
        leftid=COMMON_NAME    
        leftfirewall=yes
        auto=add
        ikelifetime = 28800s
        lifetime = 3600s

conn IKEv2-PSK
		right=%any  
        eap_identity=%any
        leftsubnet=0.0.0.0/0    
        dpdaction=clear
        rightauth=eap-mschapv2
        rightsubnet=RW_SUBNET/RW_MASK        
        rightauth=eap-radius 
        ike = aes128-sha256-modp1024!
        esp = aes128-sha1,aes128-sha256,aes128gcm128-sha1,aes128gcm128-sha256,3des-sha1,3des-sha256!
        leftauth=pubkey
        rightauth=eap-radius
        leftsendcert=always
        
        