# ipsec.conf - strongSwan IPsec configuration file
#Default 

config setup
        # strictcrlpolicy=yes
        # uniqueids = no
#uniqueids=no
#       charondebug="cfg 2, dmn 2, ike 2, net 0"

conn %default
        keyexchange=ikev2
        dpdaction=restart
        dpddelay=30s
        fragmentation=yes
        left=%any  
        leftcert=ivpn.crt
        leftid=COMMON_NAME    
        leftfirewall=yes
        auto=add

conn IKEv2-PSK
		right=%any  
        eap_identity=%any
        leftsubnet=0.0.0.0/0    
        rightauth=eap-mschapv2
        rightsubnet=RW_SUBNET/RW_MASK        
       #rightauth=eap-radius