# ipsec.conf - strongSwan IPsec configuration file
#Default 

config setup
        # strictcrlpolicy=yes
        # uniqueids = no
#uniqueids=no
#       charondebug="cfg 2, dmn 2, ike 2, net 0"

conn %default
        keyexchange=ikev2
        dpdaction=clear
        dpddelay=30s
        fragmentation=yes
        left=%any
        right=%any
        #leftauth=pubkey
        leftcert=ipvpn.crt
        leftid=COMMON_NAME
        leftsubnet=0.0.0.0/0
        rightsourceip=RW_SUBNET/RW_MASK
        leftfirewall=yes
        auto=add

conn IKEv2-PSK
        eap_identity=%any
        #rightauth=eap-mschapv2
        rightauth=eap-radius