conn $vpn_name
        keyexchange=ikev2
        right=$remote_ip
        rightsubnet=$remote_subnet	
        rightid=$remote_id
        leftid=$local_id
        leftsubnet=$local_subnet
        rightauth=psk
        leftauth=psk
        esp=$phase1_enc-$phase1_hash-$phase1_dh
        ike=$phase2_enc-$phase2_hash$pfs
        type=tunnel
        mobeike=no
        rightcendcert=no
        
        
#need one line post template