@  IN SOA NET.in-addr.apra. root.NET.in-addr.apra. (
                9999 ; serial
                7200 ; refresh (2 hrs)
                120 ; retry (2 mins)
                604800 ; expire (1 weeks)
                60 ; minimum (1 min)
        )
@       IN      NS      ns.engines.internal.
